<div class="d-flex flex-column">
  <!-- Note: Next card should be mt-4 mb-1 -->
  <div class="card mt-4 mb-0">
      <div class="card-header card-header-primary">
          <h4 class="card-title">Site Demo Launch!</h4>
          <p class="card-category">Nov 8, 2018</p>
      </div>
      <div class="card-body">
          <p>Site alpha demo is now officially up! Feel free to check out the About Us page for more info overall.</p>
          
          <strong>New</strong>
          <ul>
            <li>User account creation is up</li>
            <li>Library: Post creation and viewing is now up</li>
          </ul>

          <strong>Upcoming changes</strong>
          <ul>
            <li>Library: More filters plus functional commenting and rating</li>
            <li>Library: Better tech and combo formatting</li>
            <li>Accounts: Twitter login and first steps towards real user profiles</li>
            <li>Characters: First steps towards "wiki"-like sections</li>
            <li>General: Working basic game and character switching</li>
          </ul>
      </div>
  </div>
</div>
