<div class="card">
    <div class="card-header card-header-warning" >
      <h4 class="card-title">General Statistics</h4>
      <p class="card-category">General statistics of PLAYER1 vs. PLAYER2</p>
    </div>
    <div class="card-content table-responsive table-full-width">
      <table class="table">
        <thead class="text-danger">
          <th>PLAYER1</th>
          <th>Statistic</th>
          <th>PLAYER2</th>
        </thead>
        <tbody>
          <tr>
            <td>Dakota Rice</td>
            <td>Niger</td>
            <td>Oud-Turnhout</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>