<p>Edit the list here:</p>

<h3>Current Posts:</h3>
<div class="scrolling-wrapper">
  <div class="section d-flex align-items-center mr-2">
    <button (click)="onAdd(true)" mat-icon-button class="button-add" matTooltip="Add new post to this list">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>

  <div *ngFor="let post of currentPosts; let i = index" class="section">
    <post-edit-viewer 
      [data]="post"
      [position]="i" 
      [listLength]="currentPosts.length" 
      [isNew]="isPostNew(post.id)"
      (move)="onMoveRequest($event)"
      (remove)="onRemoveRequest($event)">
    </post-edit-viewer>
  </div>

  <div class="section button-add d-flex align-items-center ml-2">
    <button 
      *ngIf="currentPosts && currentPosts.length; else noPosts"
      (click)="onAdd(false)"
      mat-icon-button matTooltip="Add new post to this list">
      <mat-icon>add_circle_outline</mat-icon>
    </button>

    <ng-template #noPosts>
      Add a post to this wonderful list
    </ng-template>
  </div>
  
</div>

<div *ngIf="removedPosts && removedPosts.length">
  <h3>Removed Posts:</h3>

  <div class="scrolling-wrapper">
    <div *ngFor="let post of removedPosts; let i = index" class="section">
      <post-edit-viewer 
        [data]="post"
        [position]="i" 
        [listLength]="removedPosts.length"
        isRemoved="true"
        (undoRemove)="undoRemove($event)">
      </post-edit-viewer>
    </div>
  </div>
</div>

<div class="mt-4">
  <button 
    mat-raised-button
    (click)="onDoneEditing()"
    [disabled]="!anyChanges"
    color="primary">
    Finish Editing
</button>
</div>

<post-edit-add #postAdder (addPost)="onAddChoice($event)"></post-edit-add>
<post-edit-confirm #postConfirmer></post-edit-confirm>