div.card.edit-wrapper {
  background-color: #C2DFE3;

  &.new {
    background-color: #c8e6c9;
  }

  &.removed {
    background-color: #FFA987;
  }

  .header {
    $size: 30px;
    height: $size;
    margin: 0px;

    .icon-drag {
      $smolSize: $size*2/3;

      cursor: default; // Don't want text cursor when it's just there for detail
      width: $smolSize;
      height: $smolSize;

      .mat-icon-button, .mat-icon {
        font-size: $smolSize;
        line-height: $smolSize;
        width: $smolSize;
        height: $smolSize;
      }
    }

    .button-remove {
      &:hover {
        color: red;
      }

      .mat-icon-button, .mat-icon {
        font-size: $size;
        line-height: $size;
        width: $size;
        height: $size;
      }  
    }
  }
}