<div class="card edit-wrapper" [class.new]="isNew" [class.removed]="isRemoved">
  <div class="header d-flex">
    <div class="icon-drag mr-auto text-secondary">
      <mat-icon [class.invisible]="isRemoved">drag_indicator</mat-icon>
    </div>

    <div class="button-remove">
      <button *ngIf="!isRemoved; else undo" (click)="onRemove()" mat-icon-button matTooltip="Remove from this list">
        <mat-icon>delete</mat-icon>
      </button>
      <ng-template #undo>
        <button (click)="onUndoRemove()" mat-icon-button matTooltip="Undo removing this post from list">
          <mat-icon>undo</mat-icon>
        </button>
      </ng-template>
    </div>
  </div>

  <post-viewer [data]="data" [simpleMode]="true" [editMode]="true"></post-viewer>

  <div class="row justify-content-center">
    <div class="col">
      <button [class.invisible]="isRemoved || position <= 0" (click)="onMoveLeft()" mat-button matTooltip="Move to the left">
        <mat-icon>arrow_back</mat-icon>
        Move Left
      </button>
    </div>

    <div class="col">
      <button [class.invisible]="isRemoved || position >= listLength-1" (click)="onMoveRight()" mat-button matTooltip="Move to the right">
        Move Right
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>