<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="metaFormGroup">
    <form [formGroup]="metaFormGroup">
      <ng-template matStepLabel i18n>What is this post about?</ng-template>
      <p i18n>Help people find your content!</p>
      <mat-form-field>
        <mat-select matInput
          formControlName="postCatCtrl" required
          placeholder="Select a Category"
          [(value)]="selectedPostCat"
          (selectionChange)="onPostCatSelection()"
        >
          <mat-option *ngFor="let category of postCatgories" [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="showGameSpecificFields;">
        <character-picker
          [placeholder]="charSelectTitle"
          [showAsRequired]="isCharacterRequired"
          multiple="true"
          (onMultiCharChange)="onMainCharSelect($event)"
        ></character-picker>
        <div *ngIf="showCombosFields;">
          <p>Combo specific fields:</p>
          <character-picker
            [placeholder]="'Target Character(s)'"
            [showAsRequired]="true"
            multiple="true"
            (onMultiCharChange)="onTargetCharSelect($event)"
          ></character-picker>
          <mat-form-field>
            <mat-select matInput
              formControlName="comboTypeCtrl"
              placeholder="Combo Type(s)"
              [(value)]="selectedComboType"
              multiple
            >
              <mat-option *ngFor="let type of comboTypesS4" [value]="type.id">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Target %" formControlName="comboPercCtrl" type="number">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Combo Damage % (Estimate)" formControlName="comboDmgCtrl" type="number">
          </mat-form-field>
          <mat-form-field>
            <mat-select matInput
              formControlName="comboStarterCtrl"
              placeholder="Combo Starter Move"
              [(value)]="selectedComboStarter"
            >
              <mat-option *ngFor="let move of moves" [value]="move.id">
                {{move.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext i18n>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="additionalFormGroup">
    <form [formGroup]="additionalFormGroup">
      <ng-template matStepLabel i18n>Optional details</ng-template>
      <p i18n>Keep your content relevant in the long run | {{selectedPatch}}</p>
      <div i18n>Skill Estimate: 
        <mat-button-toggle-group
          name="skillSelect" 
          aria-label="Skill Select" 
          [(value)]="selectedSkill"
          >
          <mat-button-toggle *ngFor="let skill of skillCategories" [value]="skill.id">
            {{skill.name}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <mat-form-field>
        <mat-select matInput 
          formControlName="patchCtrl"
          placeholder="Relevant Patch"
          [(value)]="selectedPatch"
        >
          <mat-option *ngFor="let patch of patches" [value]="patch.id">
            {{patch.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious i18n>Back</button>
        <button mat-button matStepperNext i18n>Next</button>
      </div>
   </form>
  </mat-step>

  <mat-step [stepControl]="contentFormGroup">
    <form [formGroup]="contentFormGroup">
      <ng-template matStepLabel i18n>Contents of the post?</ng-template>
      <p i18n>Fill out the content people will always see</p>
      <p i18n>Required to either have at least video url or text body</p>

      <mat-form-field>
        <input matInput placeholder="Post Title" formControlName="titleCtrl" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput matLinkPreview type="url" placeholder="Featured Link" formControlName="linkCtrl" (blur)="onFeaturedLinkChange()">
        
        <mat-error *ngIf="contentFormGroup.controls.linkCtrl.hasError('badUrl')" i18n>
          Link url format is invalid. Did you miss a https:// or http://?
        </mat-error>
      </mat-form-field>

      <div>
        <mat-label i18n>Post Body</mat-label>
        <br/>
        <app-editor #bodyEditor></app-editor>
      </div>
      
      <div>
        <button mat-button matStepperPrevious i18n>Back</button>
        <button mat-button matStepperNext i18n>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <p i18n>Todo: Summary details here</p>
    <p i18n>Save for later (at some point), or submit straight away!</p>
    <div>
      <button mat-button matStepperPrevious i18n>Back</button>
      <button mat-button (click)="onResetClick()" i18n>Reset</button>
      <button mat-button (click)="onSubmitClick()" i18n>Submit</button>
    </div>
    <div>
      <mat-progress-bar *ngIf="isSubmitting" mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="onSubmitErrorMessage" class="alert alert-danger">
      {{ onSubmitErrorMessage | json }}
    </div>
  </mat-step>
</mat-horizontal-stepper>