<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="metaFormGroup">
    <form [formGroup]="metaFormGroup">
      <ng-template matStepLabel>What is this post about?</ng-template>
      <p>Help people find your content!</p>
      <mat-form-field>
        <mat-select matInput
        formControlName="postCatCtrl" required
        placeholder="Select a Category"
        [(value)]="selectedPostCat"
        (selectionChange)="onPostCatSelection()"
        >
          <mat-option *ngFor="let category of postCatgories" [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="showGameSpecificFields;">
        <character-picker
        [title]="charSelectTitle"
        [showAsRequired]="isCharacterRequired"
        ></character-picker>
        <div *ngIf="showCombosFields;">
          <p>Combo specific fields:</p>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="contentFormGroup">
    <form [formGroup]="contentFormGroup">
      <ng-template matStepLabel>Contents of the post?</ng-template>
      <p>Fill out the content people will always see</p>
      <p>Required to either have at least video url or text body</p>
      <mat-form-field>
        <input matInput placeholder="Post Title" formControlName="titleCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Video Link" formControlName="videoCtrl">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Post Body" formControlName="bodyCtrl"></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Optional details</ng-template>
    <p>Keep your content relevant in the long run</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <p>Todo: Summary details here</p>
    <p>Save for later (uhh... maybe), or submit straight away!</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onResetClick()">Reset</button>
      <button mat-button (click)="onSubmitClick()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>