<div class="logo">
    <a [routerLink]="['/home']" class="simple-text">
        FightCore
    </a>
    <img class="logo-image" src="../../../assets/images/FC.png" width="100px"/>
</div>

<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <form class="navbar-form">
            <span class="bmd-form-group">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Not active yet...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </span>
        </form>
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" [routerLink]="['/profile']">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block" i18n>Account</span>
                    </p>
                </a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" [routerLink]="['/notifications']">
                    <i class="material-icons">notifications_none</i>
                    <p>
                        <span class="d-lg-none d-md-block" i18n>Notifications</span>
                    </p>
                </a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" (click)="logOut()">
                    <i class="material-icons">exit_to_app</i>
                    <p>
                        <span class="d-lg-none d-md-block" i18n>sign out</span>
                    </p>
                </a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" [routerLink]="['/login']">
                    <i class="material-icons">vpn_key</i>
                    <p>
                        <span class="d-lg-none d-md-block" i18n>Sign in</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <game-switcher></game-switcher>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>