<p>
  home-dash works!
</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <div class="testBox">
        Popular General Posts
        <dash-posts-widget></dash-posts-widget>
      </div>
    </div>

    <div class="col-lg">
      <div class="testBox">
        Popular Pikachu Posts
        <dash-posts-widget></dash-posts-widget>
      </div>
    </div>

    <div class="col-lg">
      <div class="testBox">
        Latest News
        <dash-news-widget></dash-news-widget>
      </div>
    </div>
  </div>
</div>