<div *ngIf="hasValidType(); else noType" class="mt-4">  
    <div class="super card">
      <div class="card-header card-header-info">
        <h4>{{header}}</h4>
      </div>
  
      <div class="card-body">
        <div *ngIf="isLoading; else showBody">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <ng-template #showBody>
          <div class="d-flex flex-column flex-wrap">
            <div *ngFor="let post of posts" class="mx-auto">
              <a (click)="open(post)" style="cursor:pointer;">
                <post-viewer [data]="post" [simpleMode]="true"></post-viewer>
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
</div>
<ng-template #noType>
  <p>No type given to component!</p>
</ng-template>
<post-popup #postPopup></post-popup>