<p>View all pending suggestions</p>
<p>Total suggestions: 2</p>

<div class="d-flex mt-4">
  <div class="mr-auto">
    <mat-form-field>
      <mat-select 
      placeholder="Sorting"
      [(value)]="selectedSort"
      >
        <mat-option *ngFor="let option of sortOptions" [value]="option.id">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div>
    <mat-paginator [length]="1" [pageSize]="10" [hidePageSize]="true">
    </mat-paginator>
  </div>
</div>

<div class="d-flex flex-column d-flex justify-content-center">
  <suggestion class="mx-auto"></suggestion>
  <suggestion class="mx-auto"></suggestion>
</div>