div.card {
    margin-top: 0px;
    margin-bottom: 5px;

    div.card-header {
        padding-bottom: 5px;
    }

    div.card-body {
        padding-top: 0px;
    }
}

.post-preview {
    margin-bottom: 3em !important;
}

.post-preview .material-icons {
    padding-right: 5px;
}

.post-preview .card-title {
    height: 25px;
    overflow: hidden;
}