<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span i18n class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Not active yet...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i i18n class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" [routerLink]="['/profile']" placement="bottom" ngbTooltip="View profile">
                        <p>{{ username }}</p>
                        <img src="https://cdn.discordapp.com/attachments/385487978258104320/537929245607985152/mario.png" alt="User Image" height="30px" width="30px"/>
                        <p>
                            <span i18n class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" (click)="onNotifClick()" placement="bottom" ngbTooltip="View notifications">
                        <em class="material-icons">notifications_none</em>
                        <p>
                            <span i18n class="d-lg-none d-md-block">Notifications</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" (click)="logOut()" placement="bottom-right" ngbTooltip="Sign out">
                        <em class="material-icons">exit_to_app</em>
                        <p>
                            <span i18n class="d-lg-none d-md-block">Sign out</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link" [routerLink]="['/login']" placement="bottom-right" ngbTooltip="Sign in">
                        <em class="material-icons">vpn_key</em>
                        <p>
                            <span i18n class="d-lg-none d-md-block">Sign in</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>