<div class="main-content">
  <div class="container-fluid">
    <h1>Group Page</h1>

    <div class="input-group no-border" style="max-width: 500px;">
        <input type="text" value="" class="form-control" placeholder="Search for a usable group...">
        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
        </button>
    </div>
    <div>If logged in and on a specific group, link to view all groups</div>
    <div>If not viewing a specific group and logged in, show groups part of here</div>
    <div>If viewing a specific group, show info below</div>
  </div>
</div>
