form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  mat-form-field {
      width: 100%;
  }

  button {
      width: 150px;

      // Fix for disable not actually fully disabling button
      &.disabled {
          cursor: not-allowed;
      }
  }
}