<div class="main-content">
  <div class="container-fluid">
    <div style="text-align:center; margin-top: 20px;">
      <form [formGroup]="form" (ngSubmit)="login()" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input formControlName="email" type="email" id="inputEmail" class="form-control top" placeholder="Email address" required
          autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input formControlName="password" type="password" id="inputPassword" class="form-control bottom" placeholder="Password" required>
        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
          <div *ngIf="email.errors['required']">Email is required.</div>
          <div *ngIf="email.errors['email']">Email is not a valid email address.</div>
        </div>
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
          <div *ngIf="password.errors['required']">Password is required.</div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{errorMessage}}
        </div>
        <button type="submit" class="btn btn-danger btn-lg btn-block" [disabled]="!form.valid"> Sign in</button>
      </form>
    </div>
  </div>
</div>