<div *ngIf="showEmbed">
  <div *ngIf="isGeneralLink();">
    <a [href]="displayLink" target="_blank" rel="noopener noreferrer">
      {{ displayLink }}
    </a>
  </div>

  <div *ngIf="isYTLink()">
    <iframe 
      [src]="safeYTUrl"
      type="text/html" 
      width="640" 
      height="360"
      frameborder="0">
    </iframe>
    <a [href]="displayLink" target="_blank" rel="noopener noreferrer">
      YT Video?
    </a>
  </div>

  <div *ngIf="isTwitterLink()">
    <a [href]="displayLink" target="_blank" rel="noopener noreferrer">
      Twitter?
    </a>
  </div>

  <div *ngIf="isTwitchClipLink()">
    <iframe
      [src]="safeTwitchUrl"
      height="300"
      width="400"
      frameborder="0"
      scrolling="false"
      allowfullscreen="true"
      autoplay="false">
    </iframe>
  </div>
</div>