<div class="card mx-auto pb-3">
  <form [formGroup]="form" (ngSubmit)="login()" class="mx-auto text-center">
    <h3 class="h3 mb-3 font-weight-normal">Please sign in</h3>
    
    <mat-form-field>
      <input matInput required formControlName="usernameControl" 
      placeholder="Username"
      type="text"
      autocomplete="username">
      <mat-error *ngIf="usernameControl.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput required formControlName="passControl" 
      placeholder="Password"
      type="password"
      autocomplete="new-password">
      <mat-error *ngIf="passControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
    <div>
      <button type="submit" mat-raised-button
      [disabled]="!form.valid || isSubmitting"
      [class.disabled]="!form.valid || isSubmitting"
      class="btn btn-primary btn-lg">
        Sign in
      </button>
    </div>
    <div>
      <mat-progress-bar *ngIf="isSubmitting" mode="indeterminate"></mat-progress-bar>
    </div>
    <div>
      <button  mat-raised-button [routerLink]="['/signup']" class="btn btn-primary btn-lg">
        Sign up
      </button>
    </div>
    <div *ngIf="onSubmitErrorMessage" class="alert alert-danger">
      {{onSubmitErrorMessage}}
    </div>
  </form>
</div>