<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">FightCore in Alpha</h4>
        <p class="card-category">Alpha Demo Testing</p>
      </div>
      <div class="card-body">
        <p>Thanks for visiting FightCore! This site is in early alpha- thus, we would love to hear your feedback at every step of the process! Note that this site's data will be reset before the official release, so feel free to test away.</p>
        <p>Follow us on <a href="https://twitter.com/FightCore_" target="_blank" rel="noopener noreferrer">our Twitter</a> for updates! In addition, feel free to share your thoughts as you see fit, whether if you'd like to give some ideas and feedback or even help out with design and dev!</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">What is FightCore?</h4>
        <p class="card-category">Core for the fighting community</p>
      </div>
      <div class="card-body">
        <p>FightCore is intended to be the hub for fighting games to solve several large scale issues we tend to have.</p>
        <p>Our initial focus will be preparing for Smash Ultimate, with making sure resources (Game, Characters, Library) and H2H player stats are functional by end of November. Check our roadmap for more info!</p>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
        <i class="material-icons"></i>
        </div>
        <h4 class="card-title">Roadmap</h4>
      </div>
      <div class="card-body">
        <p>Here are a list of current features currently planned without any dates or specific order (fun map):</p>
        <ul>
          <li>Game page: Go-to info regarding how to play a game in general
            <ul>
              <li>Overview (basic info, widgets showing intersting content such as popular resources, mechanic updates, streams, etc). Static content with dynamic content for quickly diving and discovering further</li>
              <li>Sections for community info on mechanics, broken down by: Beginner, Journeymen, Intermediate, Advanced. Upgraded "wikis"
                <ul>
                  <li>Why better than just a wiki? Notifications + system for pushing popular updates out, better suggestions and feedback management, and further clarity on what's going on behind the scenes</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>Character pages: Better wiki-like content, consolidate info
            <ul>
              <li>Overview: Similar to game page, covers what is this character + dynamic content from across the site to easily dive into interesting areas</li>
              <li>Basics: Who is this character and what can they do?</li>
              <li>Frame Data: Easily accessible all in one place</li>
              <li>Combos & Tech: Get an overview of both bread and butter as well as advanced ones. Note that tech here references character-specific tech</li>
              <li>Matchups: Get in depth info on how to play different matchups from this character's perspective, as well as get an overview of current statistics across different matchups</li>
            </ul>
          </li>
          <li>Library: Any user can create a variety of posts as well as easily discover content that interests them
            <ul>
              <li>Posts can be under a variety of categories. Currently planned: General, Combos, Tech & Mechanics, Counterplay, Community, Game Independent</li>
              <li>Posts can contain a single featured link for easy video (Youtube or Twitch Clip) or Twitter support. In addition, any link will show a social media-esque preview</li>
              <li>Users can filter posts based off of several factors- categories, characters, and more. For combos and tech/mechanics, additional fields will also be available (eg, starting move, damage dealt, target characters, etc)</li>
              <li>Note that posts may be created under the Library, but they will show up elsewhere as appropriate (user specific feeds, added under specific sections within character or game wiki areas, etc)</li>
            </ul>
          </li>
          <li>Player stats: Get in depth look into stats for different players as well as compare them head to head. Data from Smash.gg</li>
          <li>Notifications: Get on-site notifications</li>
          <li>Home page: View feeds from activity you're interested in across the site. This will range from posts by followed users to popular updates to game or character-specific customized updates.</li>
          <li>Dev specific:
            <ul>
              <li>Open-source (waiting for full release for stability, will never show advertisements)</li>
              <li>Well written open API with Swagger docs (Bort is the best). See the current API at <a href="https://api.fightcore.org/" target="_blank" rel="noopener noreferrer">api.fightcore.org</a></li>
            </ul>
          </li>
          <li>General
            <ul>
              <li>Mobile app: Technically a "PWA", get notifications and offline access on mobile devices (will have strong control over push notifications)</li>
              <li>Profile: View creations and other basic info on profile. In addition, follow other users</li>
              <li>Search: Find any content across site from a single search field. Bye bye inability to search Google Docs!</li>
              <li>Private/community notes: Create your own by-default private notes on site, which you can optionally share with those you choose.</li>
              <li>General site UI enhancements (there's a lot to be made)</li>
            </ul>
          </li>
          <li>Further down the road...
            <ul>
              <li>Tournament & region listings (w/ PR views for games that have them)</li>
              <li>Chart depicting combos for starting % vs damage dealt</li>
              <li>Q&A StackOverflow style</li>
              <li>Get multiple FGCs on board after exploring their unique individual needs</li>
              <li>Bonus: Potential home for game-specific useful utilities, such as for helping newbies walk through how a set works</li>
            </ul>
          </li>
        </ul>
        <p>Please check <a href="https://twitter.com/FightCore_" target="_blank" rel="noopener noreferrer">our Twitter</a> (and linked Discord in Twitter bio) for more up to date info... as well as the opportunity to impact our future vision!</p>
        <p>Note that, with our current staff of volunteer devs, we won't be able to get too many of these features done soon. Interested in actively helping out? Please reach out to us!</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">What would you like to see?</h4>
        <p class="card-category">By the community for the community!</p>
      </div>
      <div class="card-body">
        <p>Yes, we're dedicated to making this happen. Stay tuned for more in the future- we're truly passionate to doing this for the community's sake!</p>
        <p>As a side note, frontend is built on the Angular framework while backend is built on ASP.Net Core.</p>
        <p>And yes, we can just give this here- a <a href="https://discord.gg/NNZDYGY" target="_blank" rel="noopener noreferrer">direct Discord invite link</a>, for you!</p>
      </div>
    </div>
  </div>
</div>