<div class="mt-4">
  <div class="super card">
      <div class="card-header card-header-info">
        <h4>Latest News</h4>
      </div>
  
    <div class="card-body">
      <div class="card mt-4 mb-1">
          <div class="card-header card-header-primary">
              <h4 class="card-title">Small Frontend Updates</h4>
              <p class="card-category">Nov 22, 2018</p>
          </div>
          <div class="card-body">
              <p>Really just testing how another news post would look like!</p>
          </div>
      </div>
    </div>
  </div>
</div>