// All three of these imports just to get access to the Bootstrap mixins
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Overrides for modal popups (needs to be global if not directly overriding module)
.base-popup .modal-dialog {
    @include media-breakpoint-up(lg) { // "Desktop" devices (from Bootstrap)
        max-width: 1200px;
        padding-left: 8px;
        padding-right: 8px;
    }
    @include media-breakpoint-down(md) { // "Mobile" devices (from Bootstrap)
        width: 100%;
        max-width: 100%; // Overriding default which sets to 500px at time of writing
        height: 100%;
        margin: 0px;
    }

    .modal-content {
        @include media-breakpoint-down(md) { // "Mobile" devices (from Bootstrap)
            width: 100%;
            height: 100%;
        }

        background-color: #eee;

        .modal-header, .modal-footer {
            border: none; // Want an appearance of a flat popup so card content and such popups out normally
        };

        .modal-body {
            padding-top: 0px; // Header alone has enough padding below it

            // For viewing posts specifically- Only two cards next to each other
            // TODO: Make more specific for posts only! (eg, add the post class here)
            .card {
                margin-top: 0px;
                // TODO: Cards have wayyy too much padding in them for posts
            }
        }
    }
}

// For character-picker component, can't target checkbox in there (scoping issues?)
.searchbar .mat-pseudo-checkbox {
    display: none;
}

// For any card "posts" (Library post, comment post, etc)
div.card.post {
    margin-top: 0px;
    margin-bottom: 5px;

    div.card-header {
        padding-bottom: 5px;
        
        div.ratingTool {
            width: 40px; // Need set width so header spacing doesn't keep moving based off of rating
            margin-left: -15px;
            margin-right: 5px;

            cursor: pointer;
            &:hover {
                background: gainsboro; // Testing code, simulating interactivity
            }

            div { // Couldn't figure out how else to center the entire rating tool so centering each child
                margin-left: auto;
                margin-right: auto;
            }
        }
        
        div.info img {
            height: 1.5em; // TODO: Center image with rest of text without making entire row taller at all
        }
    }

    div.card-body {
        padding-top: 0px;
        padding-bottom: 0px;

        hr.shortDivider {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
}