/* You can add global styles to this file, and also import other style files */

/* Overrides for post modal popup (needs to be global if not directly overriding module) */
.post-modal .modal-lg {
    max-width: 1200px;
    padding-left: 8px;
    padding-right: 8px;
}
.post-modal  .modal-content {
    background-color: #eee;
}
.post-modal .modal-header {
    border: none; /* Cards on top of flat background, so no need for this border */
}
.post-modal .modal-body {
    padding-top: 0px; /* Header alone has enough padding below it */
}
.post-modal .card {
    margin-top: 0px; /* Only two cards next to each other */
}

/* TODO: Cards have wayyy too much padding in them for posts */