<example-widget></example-widget>
<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Regular header</h4>
              <p class="card-category">Category subtitle</p>
          </div>
          <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Full header coloured</h4>
              <p class="card-category">Category subtitle</p>
          </div>
          <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title">Here is the Icon</h4>
          </div>
          <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-header card-header-primary">
              <h4 class="card-title">Here is the Text</h4>
              <p class="card-category">Category subtitle</p>
          </div>
          <div class="card-body">
              The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
          </div>
      </div>
  </div>
</div>