<div class="info">
  Owner: 
  <a class="showPointer text-info" matTooltip="Go to owner's page">
    FC Community
  </a>
</div>

<div class="card info mb-2">
  <table class="table">
    <thead class="">
      <th>Group Name</th>
      <th>Direct Editing</th>
      <th>Review Suggestions</th>
      <th>Write Suggestions</th>
    </thead>
    <tbody>
      <tr>
        <a class="showPointer text-info" matTooltip="Go to group's page">
          <td>FC Pikachu Admins</td>
        </a>
        <td><mat-icon class="text-success">check</mat-icon></td>
        <td><mat-icon class="text-success">check</mat-icon></td>
        <td><mat-icon class="text-success">check</mat-icon></td>
      </tr>
      <tr>
        <a class="showPointer text-info" matTooltip="Go to group's page">
          <td>FC Pikachu Mods</td>
        </a>
        <td></td>
        <td><mat-icon class="text-success">check</mat-icon></td>
        <td><mat-icon class="text-success">check</mat-icon></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card info">
  <table class="table">
    <thead class="">
      <th>Individuals & Default</th>
      <th>Direct Editing</th>
      <th>Review Suggestions</th>
      <th>Write Suggestions</th>
    </thead>
    <tbody>
      <tr>
        <td class="text-secondary">Default</td>
        <td></td>
        <td></td>
        <td><mat-icon class="text-success">check</mat-icon></td>
      </tr>
    </tbody>
  </table>
</div>