<form [formGroup]="form" (ngSubmit)="onSearch()">
  <div class="input-group no-border search">
    <input 
      formControlName="searchControl" 
      type="text"
      value=""
      class="form-control"
      placeholder="Find a post by id, url, or title"
      >
    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
    </button>
  </div>
</form>

<div class="results">
  <div *ngIf="isLoading; else showResults">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <ng-template #showResults>
    <div *ngIf="results && results.length; else noResults">
      <div *ngFor="let post of results" class="d-flex flex-column">
        <a (click)="selectPost(post)" style="cursor:pointer;">
          <post-viewer [data]="post" [simpleMode]="true"></post-viewer>
        </a>
      </div>
    </div>

    <ng-template #noResults>
      <div *ngIf="lastSearch; else showStartText">
        Sorry couldn't find any results with the last search of {{lastSearch}}
      </div>

      <ng-template #showStartText>
        Try searching for a post! Feel free to use the id or url if you know it, or even search via title
      </ng-template>
    </ng-template>
  </ng-template>
</div>