<div class="suggestion-preview card">
  <div class="card-header d-flex pb-0">        
    <div>
      <div class="info text-secondary">
        By <a class="showPointer" matTooltip="View the author's info">Mockup</a> &middot; 
        <a class="showPointer" matTooltip="View this post's edit history">Jan 1, 2012</a>
      </div>
    </div>
  </div>
  
  <div class="card-body">
    <div>
      <span class="font-weight-bold">Description </span>
      Replaced old character guide with more comprehensive one
    </div>

    <div class="info">
      <span class="font-weight-bold">Changes </span>

      <a class="showPointer">
      <span class="text-success" matTooltip="Number of posts added to this list">
        <span class="inline-icon"><mat-icon>add</mat-icon></span>
        1 post
      </span>
      </a> &middot; 

      <a class="showPointer">
      <span class="text-danger" matTooltip="Number of posts removed from this list">
        <span class="inline-icon"><mat-icon>clear</mat-icon></span>
        1 post
      </span>
      </a> &middot; 

      <a class="showPointer">
      <span class="text-secondary" matTooltip="Number of posts reordered in this list">
        <span class="inline-icon"><mat-icon>reorder</mat-icon></span>
        1 post
      </span>
      </a>
    </div>

    <div class="row justify-content-center">
      <div class="col">
        <div class="ratingTool d-flex justify-content-center text-secondary" matTooltip="Not yet implemented">
          <i class="material-icons">thumb_up</i>
          <div>1</div>
        </div>
      </div>

      <div class="col">
        <div class="ratingTool d-flex justify-content-center text-secondary" matTooltip="Not yet implemented">
          <i class="material-icons">chat_bubble_outline</i>
          <div>0</div>
        </div>
      </div>
    </div>
  </div>
</div>