<div class="d-flex flex-column">
  <!-- Note: Next card should be mt-4 mb-1 -->
  <div class="card mt-4 mb-0">
      <div class="card-header card-header-primary">
          <h4 class="card-title">Site Alpha Launch!</h4>
          <p class="card-category">Nov X, 2018</p>
      </div>
      <div class="card-body">
          <p>Site is now officially launched in an alpha state! Feel free to check out the About Us page for more info overall.</p>
          
          <strong>New</strong>
          <ul>
            <li>User account creation is up</li>
            <li>Library: Post creation and viewing is now up</li>
          </ul>

          <strong>Upcoming soon</strong>
          <ul>
            <li>Library: More filters and commenting features</li>
            <li>Library: Better tech and combo formatting</li>
            <li>Accounts: Twitter login</li>
            <li>Working game and character switching</li>
            
          </ul>
      </div>
  </div>
</div>
