<p>Basic character info (icon, very short description, maybe KH-style or LoL-style glimpse of character)</p>
<p>
    + Glimpses of what’s going on elsewhere (eg, resources, 
    players, tournaments, streams, questions, etc) and links to those areas
</p>

<p class="mt-4">
    Below is ongoing dev with trying to get "wiki"-like post lists up. Plan is to 
    have these set sections for all characters. "Wiki" post lists will let any user's
    content be shown while text-based sections will show centralized character info.
</p>
<p>
    All types of "wiki" sections (and optionally own user posts) would allow suggestions 
    from anyone, plus some permissions per group/user.
</p>
<wiki-posts header="Test Post List" #testPostList></wiki-posts>